<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.junko.adminLog.AdminLogDAO">

	<insert id="saveLog" parameterType="kr.co.junko.dto.AdminLogDTO">
	    INSERT INTO adminLog(admin_idx, log_type, target_table, operation_detail, log_time, ip_address)
	    	VALUES(#{admin_idx}, #{log_type},#{target_table},#{operation_detail}, #{log_time}, #{ip_address})
	</insert>
	
	<select id="logList" resultType="map">
		SELECT d.dept_name, u.user_name, al.* FROM adminLog al JOIN user u ON al.admin_idx = u.user_idx
		JOIN dept d ON d.dept_idx = u.dept_idx
			<where>
				<if test="dept_idx != null">
		            AND u.dept_idx = #{dept_idx}
		        </if>
				<if test="startDate != null and startDate != ''">
		            AND al.log_time &gt;= CONCAT(#{startDate}, ' 00:00:00')
		        </if>
		        <if test="endDate != null and endDate != ''">
		            AND al.log_time &lt;= CONCAT(#{endDate}, ' 23:59:59')
		        </if>
			</where>
		ORDER BY log_idx DESC LIMIT 100
	</select>

</mapper>