<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.junko.admin.AdminDAO">

	<update id="updateJobNdept">
		UPDATE user SET job_idx = #{job_idx}, dept_idx = #{dept_idx} WHERE user_idx = #{user_idx}
	</update>
	
	<insert id="insertPower" parameterType="String">
		INSERT INTO power (power_name) VALUES (#{power_name})
	</insert>
	
	<insert id="grantPower">
		INSERT INTO `grant` (user_idx, power_idx) VALUES(#{user_idx}, #{power_idx})
	</insert>
	
	<select id="powerList" resultType="kr.co.junko.dto.PowerDTO">
		SELECT p.power_name, p.power_idx
		FROM `grant` g
		JOIN power p ON g.power_idx = p.power_idx
		WHERE g.user_idx =  #{user_idx} AND g.del_yn=0
	</select>
	
	<update id="delUserPower">
		UPDATE `grant` SET del_yn = 1 WHERE user_idx = #{user_idx}
	</update>
	
	<select id="getUserPower" resultType="kr.co.junko.dto.MemberDTO">
		SELECT u.*
		from `grant` g
		JOIN user u ON g.user_idx = u.user_idx
		WHERE g.power_idx = #{power_idx} AND g.del_yn = 0
	</select>

	<update id="updatePower">
		UPDATE power SET power_name = #{power_name}
		WHERE power_idx = #{power_idx}
	</update>
	
	<update id="delPower">
		UPDATE power SET del_yn = 1
		WHERE power_idx = #{power_idx}
	</update>
	
	<update id="resignUpdate">
		UPDATE user SET
			user_id=''
			,pw=''
			,email=''
			,phone=''
			,address=''
			,status='퇴사'
		WHERE user_idx = #{user_idx}
	</update>
	
	<update id="empUpdate">
	    UPDATE user
	    <trim prefix="SET" suffixOverrides=",">
	        <if test="user_name != null and user_name != ''">
	            user_name = #{user_name},
	        </if>
	        <if test="email != null and email != ''">
	            email = #{email},
	        </if>
	        <if test="phone != null and phone != ''">
	            phone = #{phone},
	        </if>
	        <if test="address != null and address != ''">
	            address = #{address},
	        </if>
	        <if test="status != null and status != ''">
	            status = #{status},
	        </if>
	        <if test="annual_cnt != null">
	            annual_cnt = #{annual_cnt},
	        </if>
	    </trim>
	    WHERE user_idx = #{user_idx}
	</update>
	
	<select id="deptTree" resultType="map">
		WITH RECURSIVE dept_tree AS (
		    SELECT dept_idx, dept_name, parent_idx, 0 AS depth
		    FROM dept
		    WHERE parent_idx IS NULL AND del_yn = 0
		    UNION ALL
		    SELECT d.dept_idx, d.dept_name, d.parent_idx, dt.depth + 1
		    FROM dept d
		    JOIN dept_tree dt ON d.parent_idx = dt.dept_idx
		    WHERE d.del_yn = 0
		  )
		  SELECT * FROM dept_tree ORDER BY depth, dept_idx
	</select>
	
	<select id="userList" resultType="map" parameterType="int">
		SELECT d.dept_name, j.job_name, u.* FROM user u JOIN dept d ON d.dept_idx = u.dept_idx
		JOIN job j ON j.job_idx = u.job_idx WHERE u.dept_idx = #{dept_idx}
			ORDER BY j.job_idx ASC, u.hire_date ASC
	</select>
	
	<select id="userDetail" resultType="map" parameterType="int">
	    SELECT d.dept_name, j.job_name, u.* FROM user u JOIN dept d ON d.dept_idx = u.dept_idx
	    JOIN job j ON j.job_idx = u.job_idx WHERE u.user_idx = #{user_idx}
	</select>
	
	<update id="revokeGrant">
	    UPDATE `grant` g
	    JOIN `user` u ON g.user_idx = u.user_idx
	    SET g.del_yn = 1
	    WHERE u.status = '퇴사' AND g.del_yn = 0
	</update>

</mapper>