<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.junko.document.DocumentDAO">

	<!-- 문서 저장 -->
	<insert id="documentInsert" useGeneratedKeys="true" keyProperty="document_idx" keyColumn="document_idx" parameterType="kr.co.junko.dto.DocumentDTO">
		INSERT INTO document (user_idx, content, created_date, status, type, idx, template_idx)
		VALUES (#{user_idx}, #{content}, NOW(), #{status}, #{type}, #{idx}, #{template_idx})
	</insert>
	
	<!-- 결재라인 저장 -->
	<insert id="insertApprovalLine" useGeneratedKeys="true" keyProperty="approval_idx" parameterType="kr.co.junko.dto.ApprovalLineDTO">
		INSERT INTO approval_line (document_idx, user_idx, step, status, approved_date)
			VALUES (#{document_idx}, #{user_idx}, #{step}, #{status}, NOW())
	</insert>
	
	<!-- 문서 idx 가져오기 -->
	<select id="documentIdx" resultType="kr.co.junko.dto.DocumentDTO">
		SELECT * FROM document
		WHERE document_idx = #{document_idx}
		  AND del_yn = 0
	</select>




	<!-- 결재라인 조회 -->
	<select id="documentApprove" resultType="kr.co.junko.dto.ApprovalLineDTO">
	    SELECT * FROM approval_line
	    WHERE document_idx = #{document_idx}
	    AND user_idx = #{user_idx}
	    AND del_yn = 0
	</select>
	
	<!-- 결재 상태 업데이트 -->
	<update id="updateApprove">
	    UPDATE approval_line
	    SET status = #{status},
	        comment = #{comment},
	        approved_date = #{approved_date}
	    WHERE document_idx = #{document_idx}
	    AND user_idx = #{user_idx}
	</update>
	
	<!-- 미승인 상태 결재라인 카운트 -->
	<select id="approveCnt" resultType="int">
	    SELECT COUNT(*) FROM approval_line
	    WHERE document_idx = #{document_idx}
	    AND status != '승인'
	    AND del_yn = 0
	</select>
	
	<!-- 문서 상태 변경 -->
	<update id="updateDocStatus">
	    UPDATE document
	    SET status = #{status}
	    WHERE document_idx = #{document_idx}
	</update>
	
	
	<!-- 로그 저장 -->
	<insert id="insertLog" parameterType="kr.co.junko.dto.ApprovalLogDTO">
	    INSERT INTO approval_log (document_idx, user_idx, status, comment, approved_date)
	    VALUES (#{document_idx}, #{user_idx}, #{status}, #{comment}, #{approved_date})
	</insert>

	<!-- 상태 조회 -->
	<select id="getDocStatus" resultType="String">
	    SELECT status FROM document WHERE document_idx = #{document_idx}
	</select>
	
	<!-- 가장 낮은 결재 단계 -->
	<select id="getMinStep" resultType="int">
		SELECT MIN(step)
		FROM approval_line
		WHERE document_idx = #{document_idx}
		AND status = '미확인'
		AND del_yn = 0
	</select>
	
	
	
	<!-- 결재 로그 전체 조회 -->
	<select id="getApprovalLogs" resultType="kr.co.junko.dto.ApprovalLogDTO">
	    SELECT al.*, u.user_name 
	    FROM approval_log al
	    JOIN user u ON al.user_idx = u.user_idx
	    WHERE al.document_idx = #{document_idx}
	    ORDER BY al.approved_date ASC
	</select>
	
	<!-- 문서 리스트 -->
	<select id="documentList" resultType="kr.co.junko.dto.DocumentDTO">
		SELECT t.template_name, d.* FROM document d LEFT JOIN template t ON t.template_idx = d.template_idx
		WHERE d.user_idx = #{user_idx} AND d.del_yn = 0
		<if test="status != null and status != ''">
			AND d.status = #{status}
		</if>
		<if test="keyword != null and keyword != ''">
			AND d.content LIKE CONCAT('%', #{keyword}, '%')
		</if>
	    <if test="start_date != null and start_date != ''">
	        AND d.created_date >= #{start_date}
	    </if>
	    <if test="end_date != null and end_date != ''">
	        AND d.created_date <![CDATA[<=]]> #{end_date}
	    </if>
		ORDER BY ${order} ${sort}
	    LIMIT #{limit} OFFSET #{offset}
	</select>
	
	<!-- 미리보기용 -->
	<select id="getVariables" resultType="map">
	    SELECT var_key AS `key`, var_value AS `value`
	    FROM document_variable
	    WHERE document_idx = #{document_idx}
	</select>
	
	<!-- 문서 총 갯수 -->
	<select id="documentCnt" parameterType="map" resultType="int">
		SELECT COUNT(*) 
		FROM document
		WHERE user_idx = #{user_idx}
		  AND del_yn = 0
		<if test="status != null and status != ''">
			AND status = #{status}
		</if>
		<if test="keyword != null and keyword != ''">
			AND content LIKE CONCAT('%', #{keyword}, '%')
		</if>
	</select>
	
	<!-- 문서 타입과 idx로 조회 -->
	<select id="getByTypeAndIdx" parameterType="map" resultType="kr.co.junko.dto.DocumentDTO">
		SELECT * FROM document
		WHERE type = #{type}
		AND idx = #{idx}
		AND del_yn = 0
		ORDER BY document_idx DESC
		LIMIT 1
	</select>


	<!-- 문서 업데이트 -->
	<update id="documentUpdate" parameterType="kr.co.junko.dto.DocumentCreateDTO">
	    UPDATE document
	    SET template_idx = #{template_idx},
	        user_idx = #{user_idx},
	        idx = #{idx},
	        type = #{type}
	    WHERE document_idx = #{document_idx}
	</update>
	
	<update id="delDocumentVar" parameterType="int">
	    UPDATE document_variable
	    SET del_yn = 1
	    WHERE document_idx = #{document_idx}
	</update>
	
	<insert id="insertDocumentVar" parameterType="map">
	    INSERT INTO document_variable (document_idx, var_key, var_value, del_yn)
	    VALUES (#{document_idx}, #{key}, #{value}, 0)
	</insert>



</mapper>