<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.junko.file.FileDAO">

	<!-- 파일 삽입 -->
	<insert id="insertFile" parameterType="kr.co.junko.dto.FileDTO">
		INSERT INTO file (ori_filename, new_filename, reg_date, type, idx) 
			VALUES (#{ori_filename}, #{new_filename}, NOW(), #{type}, #{idx})
	</insert>
	
	<!-- 파일 정보 조회 -->
	<select id="selectTypeIdx" resultType="kr.co.junko.dto.FileDTO">
		SELECT * FROM file
		WHERE type = #{type}
		  AND idx = #{idx}
		  AND new_filename LIKE CONCAT('%.', #{ext})
		  AND del_yn = 0
		ORDER BY file_idx DESC
		LIMIT 1
	</select>
	
	<!-- 발주서 수정 -->
	<update id="orderFileUpdate">
		update file set type = "발주서", idx=#{param1} where new_filename = #{param2}
	</update>
	
	<!-- 발주서 찾기 -->
	<select id="fileSearchByOrderIdx" resultType="kr.co.junko.dto.FileDTO">
		select * from file where type="발주서" and idx = #{param1}
	</select>
	
	<!-- 파일 리스트 조회 -->
	<select id="fileList" resultType="kr.co.junko.dto.FileDTO">
		SELECT * FROM file
		WHERE type = #{type}
		AND idx = #{idx}
		AND del_yn = 0
		ORDER BY reg_date DESC
	</select>

	<!-- 파일 논리삭제 -->
	<update id="delFile">
		UPDATE file
		SET del_yn = 1
		WHERE type = #{type}
		AND file_idx = #{idx}
	</update>

	<!-- file_idx 기준 파일 단건 조회 -->
	<select id="downloadFileFileIdx" resultType="kr.co.junko.dto.FileDTO">
	    SELECT *
	    FROM file
	    WHERE file_idx = #{file_idx}
	    AND del_yn = 0
	</select>
	
	<!-- 최신 PDF 1개 조회 -->
	<select id="latestPdfFile" resultType="kr.co.junko.dto.FileDTO">
	    SELECT *
	    FROM file
	    WHERE type = #{type}
	      AND idx = #{idx}
	      AND new_filename LIKE CONCAT('%.', #{ext})
	      AND del_yn = 0
	    ORDER BY file_idx DESC
	    LIMIT 1
	</select>

</mapper>