<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.junko.member.MemberDAO">

	<insert id="join" parameterType="kr.co.junko.dto.MemberDTO">
		insert into user (user_id,pw,user_name,email,phone,address,hire_date)
		values (#{user_id},#{pw},#{user_name},#{email},#{phone},#{address},#{hire_date})
	</insert>

	<select id="overlay">
		select count(user_idx) from user where user_id = #{param1}
	</select>

	<select id="login" resultType="kr.co.junko.dto.MemberDTO" parameterType="kr.co.junko.dto.MemberDTO">
		SELECT user_idx, user_id, user_name FROM user WHERE user_id = #{user_id} AND pw = #{pw}
	</select>
	
	<select id="getUserIdxById" resultType="int" parameterType="String">
		SELECT user_idx FROM user WHERE user_id = #{user_id}
	</select>
	
	<insert id="insertAdminLog" parameterType="kr.co.junko.dto.AdminLogDTO">
	    INSERT INTO adminLog(admin_idx, log_type, log_time, ip_address)
	    	VALUES(#{admin_idx}, #{log_type}, #{log_time}, #{ip_address})
	</insert>
	
	<select id="findPw" resultType="String" parameterType="map">
		SELECT pw FROM user WHERE user_id=#{user_id} AND email=#{email} AND status='재직'
	</select>
	
	<update id="pwUpdate">
		UPDATE user SET pw = #{param2} WHERE user_id = #{param1}
	</update>
	
	<select id="userList" parameterType="map" resultType="kr.co.junko.dto.MemberDTO">
		select * from `user`
		<where>
			<if test="user_name != null and user_name != ''">
				user_name like concat('%',#{user_name},'%')
			</if>
			<if test="start_date != null and start_date !=''">
				hire_date > #{start_date}
			</if>
			<if test="end_date != null and end_date != ''">
				hire_date <![CDATA[<]]> #{end_date}
			</if>
			<if test="hire_date != null and hire_date != ''">
				hire_date = #{hire_date}
			</if>
			<if test="status != null and status != ''">
				status = #{status}
			</if>
			<if test="annual != null and annual !=0">
				annual_cnt > #{annual}
			</if>
			<if test="job_idx != null and job_idx != 0">
				job_idx = #{job_idx}
			</if>
			<if test="dept_idx != null and dept_idx != 0">
				dept_idx = #{dept_idx}
			</if>
		</where>
		<if test="orderColumn != null and orderColumn != ''">
			order by ${orderColumn}
			<if test="orderDirection != null and orderDirection != ''">
				${orderDirection}
			</if>
		</if>
		<if test="page != null and page != '' and page != 0">
			limit #{cnt} offset #{offset}
		</if>
	</select>

	<select id="userListTotalPage" parameterType="map">
		select ceil(count(*)*1.0/#{cnt}) from `user`
		<where>
			<if test="user_name != null and user_name != ''">
				user_name like concat('%',#{user_name},'%')
			</if>
			<if test="start_date != null and start_date !=''">
				hire_date > #{start_date}
			</if>
			<if test="end_date != null and end_date != ''">
				hire_date <![CDATA[<]]> #{end_date}
			</if>
			<if test="hire_date != null and hire_date != ''">
				hire_date = #{hire_date}
			</if>
			<if test="status != null and status != ''">
				status = #{status}
			</if>
			<if test="annual != null and annual !=0">
				annual_cnt > #{annual}
			</if>
			<if test="job_idx != null and job_idx != 0">
				job_idx = #{job_idx}
			</if>
			<if test="dept_idx != null and dept_idx != 0">
				dept_idx = #{dept_idx}
			</if>
		</where>
	</select>

</mapper>