<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.junko.msg.MsgDAO">

	<insert id="msgSend" parameterType="kr.co.junko.dto.MsgDTO">
		INSERT INTO msg (sender_idx, receiver_idx, msg_title, msg_content, sent_at) 
			VALUES (#{sender_idx}, #{receiver_idx}, #{msg_title}, #{msg_content}, NOW())
	</insert>
	
	<update id="oldMsgDel">
		UPDATE msg
		SET del_yn = 1
		WHERE del_yn = 0
			AND DATEDIFF(NOW(), sent_at) >= 30
	</update>
	
	<select id="msgReceived" parameterType="int" resultType="kr.co.junko.dto.MsgDTO">
		SELECT * from msg
		WHERE receiver_idx = #{user_idx}
		    AND receiver_del = 0
    		AND del_yn = 0
   		ORDER BY sent_at DESC
	</select>
	
	<select id="msgSent" parameterType="int" resultType="kr.co.junko.dto.MsgDTO">
		SELECT * from msg
		WHERE sender_idx = #{user_idx}
			AND sender_del = 0
    		AND del_yn = 0
		ORDER BY sent_at DESC
	</select>
	
	<update id="senderDel">
	  UPDATE msg
	  SET sender_del = 1
	  WHERE msg_idx = #{msg_idx} AND sender_idx = #{sender_idx}
	</update>
	
	<update id="receiverDel">
	  UPDATE msg
	  SET receiver_del = 1
	  WHERE msg_idx = #{msg_idx} 
	  	AND receiver_idx = #{receiver_idx}
	</update>
	
	<update id="msgRead">
		UPDATE msg
		SET read_yn = 1
		WHERE msg_idx = #{msg_idx}
			AND read_yn = 0
	</update>
	
	<select id="userAuto" resultType="map" parameterType="string">
		SELECT
			u.user_idx, 
    		CONCAT(d.dept_name, ' ', u.user_name, ' ', j.job_name) AS label FROM user u
		JOIN dept d ON u.dept_idx = d.dept_idx
		JOIN job j ON u.job_idx = j.job_idx
		WHERE u.status = '재직'
			AND (
				      u.user_name LIKE CONCAT('%', #{keyword}, '%')
				      OR d.dept_name LIKE CONCAT('%', #{keyword}, '%')
				      OR j.job_name LIKE CONCAT('%', #{keyword}, '%')
					)
	</select>
	
	<update id="yImportant">
		UPDATE msg
		SET important_yn = 1
		WHERE msg_idx = #{msg_idx} AND sender_idx = #{user_idx}
	</update>
	
	<update id="nImportant">
		UPDATE msg
		SET important_yn = 0
		WHERE msg_idx = #{msg_idx} AND sender_idx = #{user_idx}
	</update>
	
	<select id="msgImportantView" parameterType="int" resultType="kr.co.junko.dto.MsgDTO">
	    SELECT * FROM msg
	    WHERE sender_idx = #{user_idx}
	      AND sender_del = 0
	      AND important_yn = 1
   		  AND del_yn = 0
	    ORDER BY sent_at DESC
	</select>
	
	<select id="msgUnreadCnt" parameterType="int" resultType="int">
	  SELECT COUNT(*) FROM msg
	  WHERE receiver_idx = #{user_idx}
	    AND read_yn = 0
	    AND receiver_del = 0
	    AND del_yn = 0
	</select>
	
</mapper>