<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.junko.warehouse.WarehouseDAO">

	<insert id="warehouseInsert" parameterType="kr.co.junko.dto.WarehouseDTO">
		insert into warehouse (warehouse_name,
		warehouse_address,
		user_idx)
		values (#{warehouse_name},#{warehouse_address},#{user_idx})
	</insert>

	<update id="warehouseUpdate" parameterType="map">
		update warehouse
		<trim prefix="set" suffixOverrides=",">
			<if test="warehouse_name != null and warehouse_name != ''">
				warehouse_name = #{warehouse_name},
			</if>
			<if test="warehouse_address != null and warehouse_address !=''">
				warehouse_address = #{warehouse_address},
			</if>
			<if test="user_idx != null and user_idx != 0">
				user_idx = #{user_idx}
			</if>
		</trim>
		where warehouse_idx = #{warehouse_idx}
	</update>
	
	<select id="warehouseList" parameterType="map" resultType="kr.co.junko.dto.WarehouseDTO">
		select * from warehouse
		<where>
			del_yn = false
			<if test="warehouse_name != null and warehouse_name !=''">
				and warehouse_name like concat('%', #{warehouse_name} ,'%')
			</if>
			<if test="user_idx != null and user_idx != 0">
				and user_idx = #{user_idx}			
			</if>
		</where>
		<if test="orderColumn != null and orderColumn != ''">
			order by ${orderColumn}
			<if test="orderDirection != null and orderDirection != ''">
				${orderDirection}
			</if>
		</if>
		limit #{cnt} offset #{offset}
	</select>
	
	<select id="warehouseTotalPage" parameterType="map">
		select ceil(count(*)*1.0/#{cnt}) as total from warehouse
		<where>
			del_yn = false
			<if test="warehouse_name != null and warehouse_name !=''">
				and warehouse_name like concat('%', #{warehouse_name} ,'%')
			</if>
			<if test="user_idx != null and user_idx != 0">
				and user_idx = #{user_idx}			
			</if>
		</where>
	</select>

	<update id="warehouseDel">
		update warehouse set del_yn = true where warehouse_idx = #{param1}
	</update>
	
	<insert id="zoneInsert" parameterType="kr.co.junko.dto.ZoneDTO">
		insert into `zone` (warehouse_idx,zone_name)
		values (#{warehouse_idx},#{zone_name})
	</insert>
	
	<update id="zoneUpdate" parameterType="kr.co.junko.dto.ZoneDTO">
		update `zone`
		<trim prefix="set" suffixOverrides=",">
			<if test="warehouse_idx != null and warehouse_idx != 0">
				warehouse_idx = #{warehouse_idx},
			</if>
			<if test="zone_name != null and zone_name != ''">
				zone_name = #{zone_name}
			</if>
		</trim>
		where zone_idx =#{zone_idx}
	</update>
	
	<select id="zoneList" parameterType="map" resultType="kr.co.junko.dto.ZoneDTO">
		select * from `zone`
		<where>
			del_yn = false
			<if test="warehouse_idx != null and warehouse_idx != 0">
				and warehouse_idx = #{warehouse_idx} 
			</if>
			<if test="zone_name != null and zone_name != ''">
				and zone_name = #{zone_name}
			</if>
			<if test="search != null and search != ''">
				and search = #{search}
			</if>
		</where>
		<if test="orderColumn != null and orderColumn != ''">
			order by ${orderColumn}
			<if test="orderDirection != null and orderDirection != ''">
				${orderDirection}
			</if>
		</if>
		<if test="page != null and page != ''">
			limit #{cnt} offset #{offset}
		</if>
	</select>
	
	<select id="zoneListTotalPage" parameterType="map">
		select ceil(count(*)*1.0/#{cnt}) as total from `zone`
		<where>
			del_yn = false
			<if test="warehouse_idx != null and warehouse_idx != 0">
				and warehouse_idx = #{warehouse_idx} 
			</if>
			<if test="zone_name != null and zone_name != ''">
				and zone_name = #{zone_name}
			</if>
			<if test="search != null and search != ''">
				and search = #{search}
			</if>	
		</where>
	</select>
	
	<update id="zoneDel">
		update `zone` set del_yn = true where zone_idx = #{param1}
	</update>
	
	<select id="getWarehouseByZoneIdx">
		select warehouse_idx from `zone` where zone_idx = #{param1}
	</select>
	
	<select id="getWarehouseByIdx" resultType="kr.co.junko.dto.WarehouseDTO">
		select * from warehouse where warehouse_idx = #{warehouse_idx}
	</select>
</mapper>